<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xiaomiNoteExporter.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <xiaomiNoteExporter.Gui.Properties.Settings>
            <setting name="repo" serializeAs="String">
                <value>https://github.com/nogiszd/xiaomi-note-exporter/releases/latest</value>
            </setting>
        </xiaomiNoteExporter.Gui.Properties.Settings>
    </applicationSettings>
</configuration>